---
import BrandName from "@components/BrandName.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>powerd6</title>
	</head>
	<body
		class="bg-slate-100 text-slate-700 prose container mx-auto text-center px-2"
	>
		<section id="landing" class="py-8">
			<p class="text-4xl">Playing tabletop RPGs is ✨fun✨...</p>
			<p class="text-2xl">
				Managing rulebooks and custom content, not so much. 😕
			</p>
			<h1 class="text-4xl py-8"><BrandName /> wants to fix that.</h1>
		</section>
		<section id="mission"  class="text-justify">
			<p class="text-2xl">
				We strive to make the experience of writing and using multiple
				books easier for 🪶 writers, 🤔 designers, and 🎲 players.
			</p>
			<p class="text-xl py-8">
				We want a world where you can create a neat little module of
				extra rules, and, but using some clever tools, produce a simple,
				correct, and professional book to share with friends!
			</p>
			<p class="text-xl">
				To achieve this, the project has two objectives:
			</p>
			<ul>
				<li class="text-lg">
					Crating a set of rules that encourages extension
				</li>
				<li class="text-lg">
					Creating tooling to enable this experience
				</li>
			</ul>
		</section>
		<section id="links" class="py-8">
			<p class="text-lg">
				The <BrandName /> project is open, and being developed publicly.
			</p>
			<p class="text-lg">
				Come check it out over at <a href="https://github.com/powerd6">github</a>.
			</p>
		</section>
	</body>
</html>
